html {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: black;
  text-align: center;
}

/* - - - new tiles - - - */

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.column {
  display: flex;
  flex: 1; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.tile {
  display: block;
  flex: 1; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1;
}

.tile__content {
  padding: 60px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: blue;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  border-top: 10px solid white;
  border-right: 5px solid white;
  border-bottom: 10px solid white;
  border-left: 5px solid white;
}

@media (max-width: 991px) {
  .row {
    flex-direction: row;
  }
}

.red {
  background-image: url('img/red01.jpg');
  background-size: 100%;
}
.bbyo {
  background-image: url('img/bbyo01.jpg');
  background-size: 100%;
  background-position: center center;
}

/* - - - - - - - - - - - */

body {
  margin: 1rem;
  transition: all 460ms cubic-bezier(.842, -1.139, .135, 1.954);
}
